*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* outline: 1px dotted red; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.MainContainer{
  width: 1000px;
  margin: 0 auto;
}

.navbar{
  padding: 10px;
  
}

.navbar input{
  width: 300px;
}

.navbar button{
  width: 75px;
}

.links{
  display: flex;
  justify-content: space-evenly;
  /* background-color: antiquewhite; */
  align-items: center;
}

.links ul {
  display: flex;
  gap: 60px;
  font-size: 18pt;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: black;

}

.DashboardContainer{
  display: flex;
  flex-direction: column;
}

.carousel{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CarouselContainer img{
  /* width: 35vw !important; */
  width: 800px !important;
  height: 600px !important;
  border-radius: 10% !important;
  object-fit:cover;
}

.PlantContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.Plants {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 20px 0px 30px 0px;
}

.typeContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.OnePlantContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RegisterForm{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  height: 400px;
  padding: 20px;
}

.RegisterForm a{
  color: rgb(4, 165, 4) !important;
}

button{
  width: 100px;
  background-color: rgb(4, 165, 4);
  border-radius: 10%;
}

.FormInput{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.FormButton{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}