*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* outline: 1px dotted red; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.MainContainer{
  width: 1000px;
  margin: 0 auto;
}

.navbar{
  /* background-color: gainsboro; */
  padding: 10px;
}

.navbar input{
  width: 300px;
}

.navbar button{
  width: 75px;
}

.links{
  display: flex;
  justify-content: space-evenly;
  /* background-color: antiquewhite; */
  align-items: center;
}

.links ul {
  display: flex;
  gap: 60px;
  font-size: 18pt;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: black;

}

.DashboardContainer{
  display: flex;
  flex-direction: column;
}

.carousel{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel img{
  width: 400px !important;
  height: 300px !important;
  border-radius: 0% !important;
}

.PlantContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /* object-fit: cover; */
}

.Plants {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 20px 0px 30px 0px;
}

.typeContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.OnePlantContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}